.col-sm-12.product-recommendation
  .row.row-eq-height
    .col-sm-12.col-md-4.reco-img
      span.checklist.line-copy-4  CHECKLIST
      p To complete your approval, you will need to carry:
      p Driving License
      p Employment Proof
      p 401(k)
