.col-sm-12.product-recommendation
  .row.row-eq-height
    .col-sm-12.col-md-4.reco-img
      img(src='../../../../src/assets/images/content/bundle image.png')
    .col-sm-12.col-md-8.reco-desc
      h3 OUR RECOMMENDATION
      h2 HOME OFFICE BUNDLE
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      h1.amount $300.49 
      .btn-container
        button.white-btn View Details
        button.blue-btn Shortlist
