@import "../../../../../src/stylesheets/partials/variables.scss";
  .tile-container{
      background-color: $gray-lightest;
    .tile{
      background-color: $white;
      display: inline-block;
      border: 1px solid transparent;
    }
    .category-tile{
      padding: 18px;
    }
    .deactivate{
      opacity: 0.2;
      border: 1px solid #979797;
      z-index:10;
    }
    .tile-image{
      width: 100%;
      // background-color: $gray-lighter;
    }
    .tile-image {
        height: auto;
        overflow: hidden;

        img {
          object-fit: cover;
        }
    }
    .tile-container{
      background-color: $gray-lightest;
    }
    .tile-description{
      padding-top: 0.750em;
      font-weight: $proxima-semibold;
      font-size: 0.813em;
      line-height: 1.1;
      padding-left: 1em;
      padding-bottom: 1em;
      margin-top: -30px;
    }
    .tile-footer{
      max-height: 2.188em;
      padding-top: 1.063em;
    }
    .tile-icon-container {
      float: left;
      width: 100%;
    }
    .logo{
      height: 1.938em;
      width: 1.938em;
      position: relative;
      float: left;
      margin-left: 1em;
    }
    .delete-tile{
      position: relative;
      float: right;
      margin-bottom: 1em;
      margin-right: 1em;
    }
    .undo-btn{
      width: 100%;
      height: 100%;
      background: transparent;
    }
    .undo-delete {
      padding: 1.25em;
      position: absolute;
      top: 0;
      left: 0;
      z-index:11;
      width: 100%;
      height: 100%;
    }
    .undo-delete div{
        height: 3em;
        width: 7.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
    }
    .media-favorite-container{
        height: 1.250em;
        width: 1.250em;
        position: relative;
        float: right;
        margin-bottom: 1.250em;
        margin-right: 0.625em;
        background-size: cover;
        cursor: pointer;
    }
}

  @media all and (min-width: 375px) and (max-width: 767px){
      .tile-container{
          .tile-footer{
              padding-top: 0.875em;
          }
      }
  }
  @media all and (min-width: 768px) and (max-width: 1023px){
      .tile-container{
      }
  }

  @media all and (min-width: 1024px) and (max-width: 1439px){

    .tile-container{
      .tile-description{
        font-size: 0.875em;
      }
    }
  }

  @media all and (min-width: 1440px){
    .tile-container{
       .tile-description{
        font-size: 0.875em;
      }
    }
  }

  svg.heart {
  width: 100%;
  fill: #818387;
  transition: all 3s;
  overflow: visible!important;
}

button.favorite {
  display: block;
  outline: 0;
  padding: 0;
  border: none;
  background: none;
  overflow: visible;
  position: relative;

  &:focus {
    outline: 0;
  }

  #heart-outline {
    transition: all .2s;
  }
  &.active {
    svg {

      #heart-outline {
        stroke: $pink;

      }
      #fill {
        position: absolute;
        z-index: 10;
        transform-origin: 50% 50%;
        animation: heartBeat .5s 1 cubic-bezier(0.16, 1.32, 0.91, 1.26);
        animation-fill-mode: forwards;
        fill: $pink;
      }
    }
  }
}

@keyframes heartBeat {
  0%   {
    opacity: 0.5;
  }
  50% {
    fill: $pink;
    transform: scale3d(1.4, 1.4, 1.4);
  }
  100% {
    opacity: 1;
    fill: $pink;
    transform: scale3d(1,1,1);
  }
}
