productBannerComponent(category-name="products", upload-icon="false",banner-url="'/src/assets/images/content/Banner.png'")
productListComponent(source-url="'/src/commerce/components/products/product.component.product.json'",if-delete-visible="false",if-fav-undo-visible="false")
productRecommendationComponent()
//- mediatilecomponent(list-item="tile",extra-class="col-xs-6 col-sm-6 col-md-4 col-lg-3",ng-repeat="tile in ctrl.tileData.products")