productListComponent(source-url="'/src/commerce/components/products/product.component.favorite.json'",if-delete-visible="false",if-fav-undo-visible="false", limit="3", if-load-more-visible="false")
productChecklistComponent()