img(src='/src/assets/images/content/rac-logo.png', height="100px", width="100px", style="position: absolute;top: 50px;left: 40px;z-index: 1;border: 5px solid white;border-radius: 50%;")
productBannerComponent(category-name="products", upload-icon="false", banner-url="'/src/assets/images/content/Banner.png'", banner-mobile-url="'/src/assets/images/content/Banner_mobile.png'")
productListComponent(source-url="'/src/commerce/components/products/product.component.product.json'",if-delete-visible="false",if-fav-undo-visible="false", limit="8", if-load-more-visible="true")
productRecommendationComponent()
//- mediatilecomponent(list-item="tile",extra-class="col-xs-6 col-sm-6 col-md-4 col-lg-3",ng-repeat="tile in ctrl.tileData.products")