@import "../../../../../src/stylesheets/partials/variables.scss";
  .tile-container {
      background-color: $gray-lightest;
      padding: 18px 45px;
  }
  .loadmore{
    float: right;
  }

  .headercontainer {
      background-color: $gray;
      padding: 0 1em;
  }

  #list{
    padding: 0.5em 1em;
  }
  .see-more{
    font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  padding: .5em 4.5em;
  cursor: pointer;
  letter-spacing: -0.1px;
  color: #ffffff;
  }
  
  .no-outline{
        outline: none;
        background: none;
        border: 0;
        padding: 0;
  }
   @media all and (min-width: 375px) and (max-width: 767px){

    .tile-container {
      padding-left: 0 !important;
       padding-right: 0 !important;
      
    }

   }
 