.media-category-banner-container.clearfix.col-sm-12(ng-init='ctrl.init()')
  .row
    .col-sm-12(ng-class="{'category-header': !ctrl.onlyBanner, 'category-only-header': ctrl.onlyBanner}")
      .category-header-background(class='{{ctrl.bannerClass}}', ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .category-name.col-sm-12(ng-if='ctrl.onlyBanner')
        .row.col-sm-10.reset
          .header.col-sm-8.col-md-9.col-lg-4.col-xl-3 WELCOME TO {{ctrl.categoryName | uppercase}}
        .row.col-sm-12.reset
          p.category-content.col-sm-7.col-md-5.col-xl-4 {{ctrl.content}}
        .category-button.col-sm-6.col-md-7
          button.btn.btn-primary(type='button')
            span.button-fixed-text {{ctrl.btnName}}

      