.media-noresult-container.clearfix.col-sm-12
  .row
    .col-sm-12.category-only-header
      .category-header-background(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .category-name.col-sm-12
        .row.col-sm-10.reset
          .col-sm-8.col-md-5.col-lg-12.m-b-2.no-gutter
            span Coming Soon