@import "../../../../../src/stylesheets/partials/variables.scss";
.oval{
    width: 481.5px;
    height: 481.5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 141.5px;
    padding-bottom: 267px;
}
.rectangle {
    height: 890px;
    background-color: #f8f8f8;
}
.coming-soon {
    height: 105px;
    font-family: ProximaNova;
    font-size: 43px;
    text-align: center;
    color: #408baa;
    margin-top: 150px;
}


